* {
    box-sizing: border-box;
    font-family: BebasNeue, sans-serif;
  }
  
  body {
    margin: 0;
  }

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('sfondo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 335px 335px;
    font-size: 3.5em;
    color: white;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8)
  }

.logo {
    border-radius: 50%;
    max-height: 250px;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 120px;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: black;
    background-image: url('instagram-6-64.png');
    background-repeat: no-repeat;
    background-position: center;
}

.container .card:nth-child(2) .icon {
    background: black;
    background-image: url('telegram-64.png');
    background-repeat: no-repeat;
    background-position: center;
}

.container .card:nth-child(3) .icon {
    background: black;
    background-image: url('tiktok-64.png');
    background-repeat: no-repeat;
    background-position: center;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    color: #414141;
}

.news {
    max-width: 360px;
    max-height: 385px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px); 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.footer {
    background-color: black;
    text-align: center;
    max-height: 135px;
    padding: 15px;
    color: white;
    font-size: 2.5em;
    box-shadow: 50px 20px 50px 20px rgba(0,0,0,0.8)
  }

.footer a {
    text-decoration: none;
    color: yellow;
}